@model HotelWaveFinal.Models.RoomType

@{
    ViewData["Title"] = "Room Type Details";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <div class="text-white py-2">
                    <h2 class="text-primary">Room Type Details</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TypeName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TypeName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.BasePrice)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BasePrice)
            </dd>
        </dl>

        <div class="mt-4">
            <a asp-action="Edit" asp-route-id="@Model?.RoomTypeId" class="btn btn-primary">
                <i class="bi bi-pencil-square me-1"></i> Edit
            </a>
            <a asp-action="Index" class="btn btn-secondary ms-2">
                <i class="bi bi-arrow-left-circle me-1"></i> Back to List
            </a>
        </div>
    </div>
</div>
