@model HotelWaveFinal.Models.Service

@{
    ViewData["Title"] = "Delete Service";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-danger bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <div class="text-white py-2">
                    <h2>Delete Service</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <h3>Are you sure you want to delete this?</h3>
        <h4>Service</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ServiceName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ServiceName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalCost)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalCost)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ServiceType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ServiceType.ServiceTypeId)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ServiceId" />
            <div class="form-group mt-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
            </div>
        </form>
    </div>
</div>
