@model IEnumerable<HotelWaveFinal.Models.Booking>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Booking List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Booking
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.CheckIn)</th>
                    <th>@Html.DisplayNameFor(model => model.CheckOut)</th>
                    <th>@Html.DisplayNameFor(model => model.NumberOfAdults)</th>
                    <th>@Html.DisplayNameFor(model => model.NumberOfChildren)</th>
                    <th>@Html.DisplayNameFor(model => model.Room)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>@Html.DisplayNameFor(model => model.UserId)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.CheckIn)</td>
                        <td>@Html.DisplayFor(modelItem => item.CheckOut)</td>
                        <td>@Html.DisplayFor(modelItem => item.NumberOfAdults)</td>
                        <td>@Html.DisplayFor(modelItem => item.NumberOfChildren)</td>
                        <td>@Html.DisplayFor(modelItem => item.Room.RoomId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.BookingId" class="btn btn-sm btn-outline-secondary">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.BookingId" class="btn btn-sm btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/booking.js"></script>
}
